/* 
    Document   : default
    Created on : 21.11.2013, 1:41:17
    Author     : shlang
*/

.mess {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: auto;
    background-color: wheat;
    border: 2px gray;
    border-radius: 4px;
    z-index: 1000;
}

.marked {
    background-color: yellow;
}

